/* Фикс анимации при загрузке страницы */

.preload, .preload ::before {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Основной стиль сайта и переменные */

body {
    --min-border-radius: 14px;
    --border: 1px;
    --margin: 10px;
    --about-width: 328px;
    --transition: 200ms;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0;
    font-size: 11pt;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);

    transition: background-color var(--transition), color var(--transition);
}

/* Кнопки, ссылки, интерактив */

.highlight {
    background-color: var(--highlight-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
    transition: color var(--transition);
}

.button {
    display: block;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--button-text-color);
    transition: color var(--transition), background-color var(--transition), border var(--transition), box-shadow var(--transition);
}

.button:active {
    background-color: var(--button-click-color);
}

/* Темы */

html[data-theme=light] {
    --top-color: hsla(210, 100%, 100%, 0.5);
    --border-color: hsla(210, 30%, 30%, 0.5);
    --background-color: hsl(210, 30%, 90%);
    --accent-color: rgb(0, 150, 100);
    --accent-color-hover: rgb(0, 200, 133);
    --text-color: hsl(0, 25%, 2%);
    --switch-color: hsl(210, 100%, 100%);
    --highlight-color: rgba(0, 200, 133, 0.07);
    --selection-text-color: white;

    --button-color: hsla(210, 100%, 100%, 0.5);
    --button-text-color: rgb(0, 150, 100);
    --button-hover-text-color: rgb(0, 200, 133);
    --button-click-color: hsla(210, 100%, 100%, 1);
}
  
html[data-theme=dark] {
    --top-color: hsla(210, 20%, 20%, 0.5);
    --border-color: hsla(210, 20%, 50%, 0.5);
    --background-color: hsl(210, 20%, 10%);
    --accent-color: rgb(0, 255, 128);
    --accent-color-hover: rgb(128, 255, 192);
    --text-color: hsl(0, 0%, 100%);
    --switch-color: black;
    --highlight-color: rgba(128, 255, 192, 0.05);
    --selection-text-color: black;

    --button-color: hsla(210, 20%, 30%, 0.5);
    --button-text-color: rgb(0, 255, 128);
    --button-hover-text-color: rgb(128, 255, 192);
    --button-click-color: hsla(210, 20%, 60%, 0.5);
}

p.caption {
    margin: 8px 32px 29px 32px !important;
}
h1.caption {
    margin: 29px 32px 8px 32px !important;
}

h1 {
    font-size: 13pt;
}

h2 {
    font-size: 12pt;
}

.flex {
    margin: var(--margin);
    border: none;
    background: none;

    display: flex;
    flex-wrap: wrap;

    gap: var(--margin);
}

/* Меню */

.nav {
    margin: 0 16px;
    border: none;
    background: none;

    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.flex div:not(.flex){
    margin: 0;
}

.dep-1 p, .dep-1 h1, .dep-1 h2 {
    margin: 25px 35px;
}

.dep-2 p, .dep-2 h1, .dep-2 h2 {
    margin: 20px 30px;
}

.dep-3 p, .dep-3 h1, .dep-3 h2 {
    margin: 15px 20px;
}

.dep-4 p, .dep-4 h1, .dep-4 h2 {
    margin: 5px 8px;
}

::selection {
    background-color: var(--accent-color-hover);
    color: var(--selection-text-color);
}

.about {
    position: sticky;
    top: 0;
    height: auto;
    align-self: flex-start;
    margin: 0 calc(-1 * var(--margin)) 0 0;
    width: var(--about-width);
    border: none;
    background: none;
}

.other {
    margin: 0;
    width: 700px;
    border: none;
    background: none;
}

div {
    margin: var(--margin);
    border: var(--border) solid var(--border-color);
    background-color: var(--top-color);
    transition: background-color var(--transition);
}

.dep-1 {
    border-radius: calc(var(--min-border-radius) + 3 * (var(--margin) + var(--border)));
}

.dep-2 {
    border-radius: calc(var(--min-border-radius) + 2 * (var(--margin) + var(--border)));
}

.dep-3 {
    border-radius: calc(var(--min-border-radius) + var(--margin) + var(--border));
}

.dep-4 {
    border-radius: var(--min-border-radius);
}

img {
    border: var(--border) solid var(--border-color);
    margin: var(--margin);
    display: block;
    width: calc(100% - 2 * var(--margin) - var(--border));
    transition: box-shadow var(--transition), transform var(--transition), opacity var(--transition);
}

img.zoomed {
    cursor: zoom-in;
}

.table {
    overflow: hidden;
}

table {
    margin: -1px;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    transition: background-color var(--transition);
}

tr td:last-child,
tr th:last-child {
    border-right: none;
}

th {
    vertical-align: bottom;
    padding: var(--margin);
    border: var(--border) solid var(--border-color);
}

td {
    padding: var(--margin);
    border: var(--border) solid var(--border-color);
}

@media (max-width: 810px) {
    body {
        --margin: 8px;
        --min-border-radius: 16px;
        display: block;
    }

    .about {
        position: relative;
        margin: 59px 0 0 0;
        width: auto;
    }
    
    .other {
        width: auto;
    }

    .table {
        overflow-x: auto;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--top-color);
        z-index: 5;
        border-bottom: var(--border) solid var(--border-color);
        backdrop-filter: blur(4px);
        transition: border var(--transition), background-color var(--transition);
    }

    .theme-switch {
        top: 11px;
        left: 6px !important;
    }

    .moon {
        right: 25px !important;
        bottom: -2px !important;
    }

    .sun {
        right: 23px !important;
        bottom: -4px !important;
    }

    .nav {
        display: flex;
    }

}

@media (hover: hover) {

    a:hover {
        color: var(--accent-color-hover)
    }

    .button:hover {
        box-shadow: 0 0 0 calc(var(--border) + 1px) var(--accent-color-hover);
        color: var(--button-hover-text-color);
    }

    img.clickable:hover {
        box-shadow: 0 0 0 calc(var(--border) + 1px) var(--accent-color-hover);
    }

    .theme-switch:hover {
        box-shadow: 0 0 0 calc(var(--border) + 1px) var(--accent-color-hover);
    }

}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 27px;
    left: 40%;
    border-radius: 30px;
    transition: box-shadow var(--transition);
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(210, 30%, 80%, 0.5);
    border-radius: 14px;
    border: var(--border) solid var(--border-color);
    transition: background-color var(--transition), border var(--transition);
}

.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: var(--switch-color);
    transition: background-color var(--transition), transform var(--transition);
    border-radius: 14px;
}
 
input:checked + .slider {
    background-color: hsla(210, 20%, 30%, 0.5);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked ~ .sun {
    opacity: 0;
    transform: translateX(26px);
}

.sun {
    border: none;
    cursor: pointer;
    position: absolute;
    height: 19px;
    width: 19px;
    right: 21px;
    bottom: -6px;
}

input:checked ~ .moon {
    opacity: 1;
    transform: translateX(26px);
}

.moon {
    opacity: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 23px;
    bottom: -4px;
}